<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="toko.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <toko.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>ScbowOVmvJ8NRMPZdxIvTNn8Fz4tmB4A7BLD95jr/v3ka1i8k5IdvMqoByEwflNyfZO9jYqUIgVEdXmXhLhXmG19PNO1a4sPL0nvYvY7zgRuyGeRA9l4oAQ0Urm3MilIkDjteKAZvizj48FohksPlw==</value>
            </setting>
        </toko.Properties.Settings>
    </applicationSettings>
</configuration>